<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mall.fy.goodsservice.dao.GoodsInfoMapper">
    <resultMap id="BaseResultMap" type="com.cloud.mall.fy.goodsservice.entity.GoodsInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_intro" jdbcType="VARCHAR" property="goodsIntro"/>
        <result column="goods_category_id" jdbcType="BIGINT" property="goodsCategoryId"/>
        <result column="original_price" jdbcType="INTEGER" property="originalPrice"/>
        <result column="selling_price" jdbcType="INTEGER" property="sellingPrice"/>
        <result column="stock_num" jdbcType="INTEGER" property="stockNum"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="goods_sell_status" jdbcType="TINYINT" property="goodsSellStatus"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, goods_name, goods_intro,goods_category_id, goods_cover_img, goods_carousel, original_price,
    selling_price, stock_num, tag, goods_sell_status, create_user, create_time, update_user, 
    update_time
  </sql>
    <sql id="Blob_Column_List">
    goods_detail_content
  </sql>

    <update id="updateStockNum" parameterType="java.util.List">
        <foreach collection="arg0" item="stockNumDTO">
            update goods_info set stock_num = stock_num - #{stockNumDTO.goodsCount}
            where id = #{stockNumDTO.goodsId} and stock_num >= #{stockNumDTO.goodsCount};
        </foreach>
    </update>
</mapper>