<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mall.fy.orderservice.dao.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.cloud.mall.fy.orderservice.entity.OrderItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="selling_price" jdbcType="INTEGER" property="sellingPrice"/>
        <result column="goods_count" jdbcType="INTEGER" property="goodsCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_id, goods_id, goods_name, goods_cover_img, selling_price, goods_count,
    create_time
  </sql>

</mapper>