<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mall.fy.orderservice.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.cloud.mall.fy.orderservice.entity.OrderHeader">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="total_price" jdbcType="INTEGER" property="totalPrice"/>
        <result column="pay_status" jdbcType="TINYINT" property="payStatus"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
        <result column="extra_info" jdbcType="VARCHAR" property="extraInfo"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_no, user_id, total_price, pay_status, pay_type, pay_time, order_status,
    extra_info, is_deleted, create_time, update_time
  </sql>

</mapper>